@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('../static/font/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('../static/font/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Salome';
  font-weight: normal;
  src: url('../static/font/Salome-Normal.ttf') format('truetype');
}
